<div class="register-page">
  <div class="box">
    <span class="borderLine"></span>
    <form (submit)="register()">
      <h2>Register</h2>

      <div class="inputBox">
        <input type="text" [(ngModel)]="username" name="username" required />
        <span>Username</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="password" [(ngModel)]="password" name="password" required />
        <span>Password</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="text" [(ngModel)]="accountName" name="accountName" required />
        <span>Account Name</span>
        <i></i>
      </div>

      <div class="inputBox">
        <select [(ngModel)]="accountType" name="accountType" required>
          <option value="savings">Savings</option>
        </select>
        <span>Account Type</span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="number" [(ngModel)]="initialDeposit" name="initialDeposit" required />
        <span>Initial Deposit</span>
        <i></i>
      </div>

      <button type="submit" id="submit">Register</button>
    </form>
  </div>
</div>
