<!-- ✅ ใช้ .login-page เป็น Wrapper ให้ Login Component -->
<div class="login-page">
  <div class="box">
    <span class="borderLine"></span>
    <form (submit)="login()">
      <h2>Sign in</h2>
      <div class="inputBox">
        <input type="text" [(ngModel)]="username" name="username" required />
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="password"
          name="password"
          required
        />
        <span>Password</span>
        <i class="bi bi-eye" (click)="togglePassword()"></i>
        <!-- 👁️ ปุ่มดูรหัสผ่าน -->
      </div>

      <div class="links">
        <a href="#">Forgot Password</a>
        <a routerLink="/register">Signup</a>
      </div>
      <button id="submit" type="submit">Login</button>
    </form>
  </div>
</div>
