<div class="container mt-5">
    <h3 class="text-center mb-4">Notifications</h3>
  
    <div *ngIf="notifications.length > 0">
      <ul class="list-group">
        <li *ngFor="let notification of notifications" class="list-group-item d-flex justify-content-between align-items-center fade-in">
          <p [ngClass]="{'text-muted': notification.isRead}">{{ notification.message }}</p>
          
          <div class="btn-group">
            <button 
              (click)="markAsRead(notification.id)" 
              *ngIf="!notification.isRead" 
              class="btn btn-success btn-sm me-2">
              Mark as Read
            </button>
            <button 
              (click)="deleteNotification(notification.id)" 
              class="btn btn-danger btn-sm">
              Delete
            </button>
          </div>
        </li>
      </ul>
    </div>
  
    <p *ngIf="notifications.length === 0" class="alert alert-info text-center">No notifications</p>
  
    <p *ngIf="message" class="alert alert-info text-center">{{ message }}</p>
  </div>
  